@import "../../.cache/wal/colors-waybar.css";

#clock,
#pulseaudio,
#tray,
#window,
#workspaces,
#battery,
#custom-separator,
* {
  font-family: "JetBrains Mono NF";
  font-weight: bold;
  min-height: 0;
  font-size: 95%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
}

window#waybar {
  background: rgba (0, 0, 0, 0.5);
  border-radius: 12px;
  border-bottom: 2px;
  border-style: solid;
  border-color: @color3;
}

#workspaces button {
  color: #eceff4;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  border-radius: 15px;
  background-color: @color4;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  color: @color2;
  background-color: rgba(0, 153, 153, 0);
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#clock {
  color: @color6;
}

#pulseaudio {
  color: @color6;
}

#window {
  color: @color3;
}

#battery {
  color: @color6;
}

#custom-separator {
  color: @color6;
}
